.navbox{

  text-decoration: none;
  color:whitesmoke;
  font-size: large;

}

.sideMargin{

  margin: 25px 40px 0px 40px;


}

.hoverDiv{
  position : relative;
 
}

.navboxLi{
    display:none;
    color: blue;
    position : absolute;
    width : 230px;
    left:-25px;
   
}



.hoverDiv:hover .navboxLi{
    display : block;
}

.navbutton{

  border : 2px solid black;

}

.sublistbox{

  font-size:16px;  
  padding:7px;
}


.header{

  margin: 95px 25px 95px 145px;
  width : 500px
}

@keyframes logos {

  from{

    transform: translateX(0%);
  }
  to {
     transform : translateX(-100%)
  }
  
}

.LogoDiv{

  animation: logos 20s infinite linear; 

}

.logoMainDiv:hover .LogoDiv{

  animation-play-state: paused;

}



